In [1]:
import pandas as pd

In [2]:
from pandas import Series, DataFrame

In [3]:
sangjin = pd.Series([1,2,3,4,5])

In [7]:
sangjin

a    2
b    3
c    4
d    5
e    6
dtype: int64

In [6]:
sangjin = pd.Series([2,3,4,5,6], index = ['a','b','c','d','e'])

In [12]:
sangjin.name = '상진'

In [13]:
sangjin

상진   NaN
Name: 상진, dtype: float64

In [15]:
sangjin.index.name = 'goo'

In [16]:
sangjin

goo
상진   NaN
Name: 상진, dtype: float64

In [18]:
sangjin = pd.Series([10,20,30,40,50], index =['머리','어깨','무릎','발','무릎'])

In [19]:
sangjin

머리    10
어깨    20
무릎    30
발     40
무릎    50
dtype: int64

In [20]:
sangjin.name = '상진'

In [21]:
sangjin

머리    10
어깨    20
무릎    30
발     40
무릎    50
Name: 상진, dtype: int64

In [22]:
sangjin.index.name = '건형'

In [23]:
sangjin

건형
머리    10
어깨    20
무릎    30
발     40
무릎    50
Name: 상진, dtype: int64

In [24]:
data = {'state': ['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year' : [2000,2001,2002,2001,2002,2003],
       'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [25]:
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2